header {
    background-color: #fce181;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    z-index: 1;
}

.header_menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
}
.home{
    width: 20%;
    padding: 0;
}
.logo {
    width: 100%;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

