@import "basic.css";
@import "header.css";

.main_screen_img1 {
    opacity: 30%;
    width: 100%;
}

.main_screen {
    background-image: url(/pretzel-new/photo/img1.jpg);
}

.ms_text1 {
    color: white;
    margin: 0;
    font-size: 70px;
    font-weight: 700;
}

.ms_text2 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

